:root {
  --soulstone-blue: rgba(3, 73, 165, 1);
  --pacific-depths: rgba(2, 62, 140, 1);
  --clarinet: rgba(1, 39, 89, 1);
  --maastricht-blue: rgba(1, 28, 63, 1);
  --chalet: rgba(191, 150, 101, 1);
  --primary-font: white;
  --secondary-font: black;
  --main-background: 
    url("data:image/svg+xml,%3C!-- svg: first layer --%3E%3Csvg viewBox='0 0 329 329' xmlns='http://www.w3.org/2000/svg'%3E%3Cfilter id='noiseFilter'%3E%3CfeTurbulence type='fractalNoise' baseFrequency='7' numOctaves='6' stitchTiles='stitch'/%3E%3C/filter%3E%3Crect width='100%25' height='100%25' filter='url(%23noiseFilter)'/%3E%3C/svg%3E"),
    linear-gradient(rgba(191, 150, 101, 0.3)), 
    linear-gradient(rgba(1, 28, 63, 1));
  --font-sans: "Inter", sans-serif;
  --font-mono: ui-monospace, Menlo, Monaco, "Cascadia Mono", "Segoe UI Mono",
    "Roboto Mono", "Oxygen Mono", "Ubuntu Monospace", "Source Code Pro",
    "Fira Mono", "Droid Sans Mono", "Courier New", monospace;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  background-image: var(--main-background);
  font-family: var(--font-sans);
}

header {
  position: fixed;
  display: flex;
  justify-content: space-between;
  padding: 40px 60px;
  width: 100vw;
  height: 140px;
  background-color: var(--maastricht-blue);
  color: var(--primary-font);
  z-index: 10;
}

a {
  color: inherit;
  text-decoration: none;
}

@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
}

header .nav-link {
  margin: 0 10px;
  font-family: var(--font-mono);
}

main {
  flex: 1;
  display: flex;
  flex-direction: column;
  margin-top: 140px;
}

footer {
  display: flex;
  justify-content: space-evenly;
  padding: 20px;  
  background-color: var(--maastricht-blue);
  color: var(--primary-font);
  z-index: 10;
}

.header-signature {
  display: flex;
  flex-direction: column;
}

.header-signature > h1 {
  margin: 0px;
}

.featured {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  z-index: 10;
}

.geometric-background {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
    z-index: 1;
}

.shape {
    position: absolute;
    width: 500px;
    height: 500px;
}

.circle {
  border-radius: 50%;
  background: var(--chalet);
}

#home #circle1 {
  top: 20px;
  left: -400px;
}

#home #circle2 {
  top: 50vh;
  right: 25vw;
}

#about #circle1 {
  top: 60px;
  left: -450px;
}

#about #circle2 {
  top: 40vh;
  right: 10vw;
}


#portfolio #circle1 {
  bottom: -20px;
  left: -150px;
}

#portfolio #circle2 {
  top: 10vh;
  right: 30vw;
}

.glass {
  border: 1px solid rgba( 255, 255, 255, 0.18 );
  background: rgba(89, 131, 83, 0.09);
  backdrop-filter: blur( 2px );
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
}

#home .glass {
  position: absolute;
  height: 60%;
  width: 75%;
}

#portfolio .glass {
  height: 450px;
  width: 350px;
  margin: 2rem;
}

.card {
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
  transition: 0.3s;
  width: 400px;
  min-height: 60px;
  background-color: var(--clarinet);
  color: var(--primary-font);
}

.card .container {
  padding: 20px;
}

.footer-link {
  padding: 10px 20px;
  font-family: var(--font-mono);
}
.footer-link:hover {
  box-shadow: 0 4px 8px 0 var(--primary-font);
  background-color: var(--clarinet);
  color: var(--primary-font);
}

#about {
  display: flex;
  flex-direction: column;
  min-height: calc(100vh - 110px);
  align-items: flex-start;
  justify-content: flex-start;
  padding: 0 6rem 6rem 6rem;
}

.scrollable-container {
  height: calc(100vh - 300px);
  overflow: scroll;
  z-index: 10;
}

#about section {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  position: relative;
  padding: 2rem 0 0 0;
  font-size: 1.25rem;
}

#about p {
  width: 60%;
  margin-top: 20px;
}

#portfolio #card-container {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  padding: 4rem;
  z-index: 10;
}

#portfolio .container {
  width: 300px;
  height: 400px;
  background-color: var(--clarinet);
  background-position: top;
  background-size: contain;
  background-repeat: no-repeat;
  background-origin: padding-box;
  border: 1px solid var(--maastricht-blue);
  cursor: pointer;
}

#wine-rack .container {
  background-image: url("./assets/wine-rack.png");
}

#counterpoint .container {
    background-image: url("./assets/counterpoint.jpeg");
}

#atj .container {
  background-image: url("./assets/atj.png");
}

#discover-breweries .container {
    background-image: url("./assets/discover-breweries.png");
}

#boss .container {
    background-image: url("./assets/boss.png");
}

#portfolio .overlay {
  width: 100%;
  height: 100%;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr 2fr 2fr 1fr;
  background: rgba(77, 77, 77, 0.9);
  opacity: 0;
  transition: all 0.5s;
}

#portfolio .items {
  padding-left: 20px;
  letter-spacing: 3px;
}

#portfolio .head {
  font-size: 30px;
  line-height: 40px;
  transform: translateY(40px);
  transition: all 0.7s;
  hr {
    display: block;
    width: 0;
    border: none;
    border-bottom: solid 2px black;
    position: absolute;
    bottom: 0;
    left: 20px;
    transition: all .5s;
  }
}

#portfolio .price {
  font-size: 22px;
  line-height: 10px;
  font-weight: bold;
  opacity: 0;
  transform: translateY(40px);
  transition: all 0.7s;
}

#portfolio .container:hover .overlay {
  opacity: 1;
  & .head {
    transform: translateY(0px);
  }
  & hr {
    width: 75px;
    transition-delay: 0.4s;
  }
  & .price {
    transform: translateY(0px);
    transition-delay: 0.3s;
    opacity: 1;
  }
}