:root {
  --soulstone-blue: rgba(3, 73, 165, 1);
  --pacific-depths: rgba(2, 62, 140, 1);
  --clarinet: rgba(1, 39, 89, 1);
  --maastricht-blue: rgba(1, 28, 63, 1);
  --chalet: rgba(191, 150, 101, 1);
  --primary-font: white;
  --secondary-font: black;
  --main-background:
    url("data:image/svg+xml,%3C!-- svg: first layer --%3E%3Csvg viewBox='0 0 329 329' xmlns='http://www.w3.org/2000/svg'%3E%3Cfilter id='noiseFilter'%3E%3CfeTurbulence type='fractalNoise' baseFrequency='7' numOctaves='6' stitchTiles='stitch'/%3E%3C/filter%3E%3Crect width='100%25' height='100%25' filter='url(%23noiseFilter)'/%3E%3C/svg%3E"),
    linear-gradient(rgba(191, 150, 101, 0.3)),
    linear-gradient(rgba(1, 28, 63, 1));
  --font-sans: "Inter", sans-serif;
  --font-mono: ui-monospace, Menlo, Monaco, "Cascadia Mono", "Segoe UI Mono",
    "Roboto Mono", "Oxygen Mono", "Ubuntu Monospace", "Source Code Pro",
    "Fira Mono", "Droid Sans Mono", "Courier New", monospace;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html {
  @media only screen and (max-width: 980px) and (orientation: portrait) {
    font-size: 32px;
  }
}

body {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  background-image: var(--main-background);
  font-family: var(--font-sans);

  @media only screen and (max-width: 980px) and (orientation: portrait) {
    min-height: 100dvh;
  }
}

header {
  position: fixed;
  display: flex;
  justify-content: space-between;
  padding: 40px 60px;
  width: 100%;
  height: 140px;
  background-color: var(--maastricht-blue);
  color: var(--primary-font);
  z-index: 11;

  #hamburger,
  #menu {
    display: none;
  }

  .nav-link {
    margin: 0 10px;
    font-family: var(--font-mono);
  }

  @media only screen and (max-width: 980px) and (orientation: portrait) {
    height: 220px;

    #hamburger {
      display: unset;
      z-index: 21;
    }

    nav {
      display: flex;
      position: fixed;
      top: 0;
      right: 0;
      flex-direction: column;
      align-items: end;
      width: 75vw;
      height: 100dvh;
      padding-top: 6rem;
      background-color: var(--pacific-depths);
      transition: transform 0.1s ease-in;
      transform: scale(0, 1);
      transform-origin: right;
      z-index: 20;

      .nav-link {
        font-size: 50px;
        padding: 50px;
      }
    }

    .close {
      display: none;
    }

    #hamburger:has(#menu:checked)~nav {
      transform: scale(1, 1);
    }

    #hamburger:has(#menu:checked) {
      .menu {
        display: none;
      }

      .close {
        display: unset;
      }
    }
  }

  @media only screen and (max-width: 980px) and (orientation: landscape) {
    height: 90px;
    padding: 20px 60px;
  }
}

.material-symbols-outlined {
  font-size: 50px;

  @media only screen and (max-width: 980px) and (orientation: portrait) {
    font-size: 100px;
  }
}

#blog-page .material-symbols-outlined {
  font-size: 2rem;
}

#home-page #home-nav-link,
#about-page #about-nav-link,
#portfolio-page #portfolio-nav-link,
#blog-page #blog-nav-link {
  text-decoration: underline;
}

@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
}

a {
  color: inherit;
  text-decoration: none;
}

main {
  flex: 1;
  display: flex;
  flex-direction: column;
  margin-top: 140px;
}

footer {
  position: static;
  display: flex;
  justify-content: space-evenly;
  width: 100%;
  height: 95px;
  padding: 20px;
  background-color: var(--maastricht-blue);
  color: var(--primary-font);
  z-index: 10;

  @media only screen and (max-width: 980px) and (orientation: portrait) {
    position: fixed;
    height: 220px;
    bottom: 0;
    left: 0;

    .footer-link h5 {
      display: none;
    }
  }
}

.header-signature {
  display: flex;
  flex-direction: column;
}

.header-signature>h1 {
  margin: 0px;
}

.featured {
  flex: 1;
  height: inherit;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  z-index: 10;
}

#home {
  display: flex;
  flex-direction: column;
}

#home main {
  height: calc(100vh - 140px - 95px);

  @media only screen and (max-width: 980px) and (orientation: portrait) {
    height: calc(100dvh - 220px - 220px);
  }
}

.geometric-background {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
  opacity: 0.9;
  z-index: 1;
}

.shape {
  position: absolute;
  width: 500px;
  height: 500px;
}

.circle {
  border-radius: 50%;
  background: var(--chalet);
}

#home #circle1 {
  top: 20px;
  left: -400px;
}

#home #circle2 {
  top: 50vh;
  right: 25vw;
}

#about #circle1 {
  top: 60px;
  left: -450px;
}

#about #circle2 {
  top: 40vh;
  right: 10vw;
}

#portfolio, #about {
  @media only screen and (max-width: 980px) and (orientation: portrait) {
    margin-bottom: 220px;
  }
}


#portfolio #circle1 {
  bottom: -20px;
  left: -150px;
}

#portfolio #circle2 {
  display: none;

  @media only screen and (max-width: 980px) and (orientation: portrait) {
    display: unset;
    bottom: 25dvh;
    right: 40px;
  }
}

.glass {
  border: 1px solid rgba(255, 255, 255, 0.18);
  background: rgba(89, 131, 83, 0.09);
  backdrop-filter: blur(2px);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
}

#home .glass {
  height: calc((100vh - 140px - 95px) * 0.8);
  width: 75%;
  z-index: 3;

  ul {
    li {
      display: flex;
      align-items: center;
      width: 800px;
      min-height: 60px;
      padding: 20px;
      color: var(--primary-font);

      .container {
        display: flex;
        align-items: center;
        justify-content: flex-start;
        flex: 1;
        margin-left: 3rem;
      }

      @media only screen and (max-width: 980px) and (orientation: portrait) {
        height: 200px;
      }
    }

    hr {
      width: 100%;
      border-bottom: 1px solid var(--primary-font);
    }
  }

  @media only screen and (max-width: 980px) and (orientation: portrait) {
    width: 90%;

    ul {
      width: 90%;
    }

    .card {
      width: 90%;
    }
  }

  @media only screen and (max-width: 980px) and (orientation: landscape) {
    height: 600px;
    width: 80vw;
    margin: 1rem 0;
  }
}

#portfolio .glass {
  height: 450px;
  width: 350px;
  margin: 2rem;
  transition: transform 0.8s;

  @media only screen and (max-width: 980px) and (orientation: portrait) {
    height: 50dvh;
    width: 80vw;
    margin: 1rem 0;
  }
}

#portfolio .glass:hover {
  backdrop-filter: blur(14px);
  transform: rotateY(180deg);
}

#portfolio .glass:hover .portrait {
  backdrop-filter: blur(14px);
}

.footer-link {
  padding: 10px 20px;
  font-family: var(--font-mono);
}

.footer-link:hover {
  box-shadow: 0 4px 8px 0 var(--primary-font);
  background-color: var(--clarinet);
  color: var(--primary-font);
}

#about {
  display: flex;
  flex-direction: column;
  min-height: calc(100vh - 110px);
  align-items: flex-start;
  justify-content: flex-start;
  padding: 0 6rem 6rem 6rem;

  @media only screen and (max-width: 980px) and (orientation: portrait) {
    padding: 2rem;
  }
}

.scrollable-container {
  height: calc(100vh - 300px);
  overflow: scroll;
  z-index: 10;
}

#about section {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  position: relative;
  padding: 2rem 0 0 0;
  font-size: 1.25rem;
  z-index: 10;
}

#about p {
  width: 60%;
  margin-top: 20px;

  @media only screen and (max-width: 980px) and (orientation: portrait) {
    width: unset;
  }
}

#portfolio #card-container {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  padding: 4rem;
  z-index: 9;

  @media only screen and (max-width: 980px) and (orientation: portrait) {
    margin-top: 40px;
    padding: 0;
  }
}

#portfolio h2 {
  color: var(--primary-font);
  padding-top: 2rem;
  padding-left: 4rem;
  z-index: 9;

  @media only screen and (max-width: 980px) and (orientation: portrait) {
    margin-top: 40px;
  }

}

#portfolio .container {
  position: relative;
  width: 300px;
  height: 400px;
  background-color: rgba(77, 77, 77, 0.9);
  background-position: top;
  background-size: contain;
  background-repeat: no-repeat;
  background-origin: padding-box;
  border: 1px solid var(--maastricht-blue);
  cursor: pointer;

  @media only screen and (max-width: 980px) and (orientation: portrait) {
    height: 40vh;
    width: 65vw;
  }
}

#sds-smith .container {
  background-image: url("./assets//IMG_7119.jpeg");
}

#wine-rack .container {
  background-image: url("./assets/wine-rack.png");
}

#counterpoint .container .portrait {
  background-image: url("./assets/counterpoint.jpeg");
  background-position: top;
  background-size: contain;
  background-repeat: no-repeat;
  background-origin: padding-box;
  width: 300px;
  height: 280px;

  @media only screen and (max-width: 980px) and (orientation: portrait) {
    height: 28dvh;
    width: 40vw;
  }
}

#atj .container {
  background-image: url("./assets/atj.png");
}

#discover-breweries .container {
  background-image: url("./assets/discover-breweries.png");
}

#boss .container {
  background-image: url("./assets/boss.png");
}

#portfolio .label {
  position: absolute;
  bottom: 2rem;
  left: 1rem;
  letter-spacing: 3px;
  width: 100%;
  color: var(--primary-font);
  font-size: 1.5rem;
  line-height: 2.5rem;
  display: inline-block;
  transition: transform 0.2s;
}

#portfolio .overlay {
  width: 300px;
  height: 400px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 1rem;
  background: rgba(77, 77, 77, 0.9);
  opacity: 0;
  transition: transform 0.8s;

  @media only screen and (max-width: 980px) and (orientation: portrait) {
    height: 40dvh;
    width: 65vw;
  }
}

#portfolio .glass:hover .label {
  opacity: 0;
}

#portfolio .glass:hover .overlay {
  opacity: 1;
}

#portfolio .items {
  letter-spacing: 3px;
  width: 100%;
  color: var(--primary-font);
}

#portfolio .title {
  font-size: 1.5rem;
  line-height: 2.5rem;
  display: inline-block;
  transform: scale(-1, 1);
}

#portfolio .subtitle {
  font-size: 1rem;
  display: inline-block;
  transform: scale(-1, 1);
}

#portfolio .details {
  font-size: 0.75rem;
  display: inline-block;
  transform: scale(-1, 1);
}

hr {
  display: block;
  width: 100px;
  border: none;
  border-bottom: solid 2px var(--primary-font);
}

#portfolio .actions {
  width: 100%;
  display: inline-block;
  transition: transform 0.8s;
  transform: scale(-1, 1);
  color: var(--primary-font);
}

#blog-page main {
  padding: 2rem 6rem;
  margin-bottom: 10vh;
  display: flex;
  flex-direction: row;
  justify-content: space-between;

  h1,
  h2,
  p {
    margin-bottom: 1rem;
  }



  #post-nav {
    width: 20%;
    display: inline;

    ul {
      list-style-type: none;

      li {
        display: flex;
        padding: 0 10px;

        .keyboard_arrow_y {
          display: hidden;
        }

        .active {
          text-decoration: underline;
        }
      }

      @media only screen and (min-width: 981px) {
        li:hover {
          box-shadow: 1px 3px 1px 0 var(--secondary-font);
        }
      }
    }
  }

  #post-container {
    width: 70%;
    display: inline;
    padding-top: 6rem;
  }

  @media only screen and (max-width: 980px) {
    flex-direction: column;

    #post-nav {
      width: 100%;

      .keyboard_arrow_x {
        display: hidden;
      }

      .keyboard_arrow_y {
        display: unset;
      }
    }

    #post-container {
      width: 100%;
    }

  }

  @media only screen and (max-width: 980px) and (orientation: portrait) {
    padding: 4rem 2rem;

    p {
      font-size: 1.25rem;
    }
  }
}

.keyboard_arrow_y {
  display: none;

  @media only screen and (max-width: 980px) {
    display: unset;
  }
}

.keyboard_arrow_x {
  display: unset;

  @media only screen and (max-width: 980px) {
    display: none;
  }
}

.background-image {
  background-image: url('./assets//IMG_7119.jpeg');
  background-position: right;
  background-size: contain;
  background-repeat: no-repeat;
  background-origin: padding-box;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
  opacity: 0.5;

  @media only screen and (max-width: 980px) and (orientation: portrait) {
    background-image: unset;
  }
}