
* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

header {
  display: flex;
  justify-content: space-between;
  padding: 40px 60px;
  height: 140px;
  background-color: rgb(0,0,0);
  color: white;
}

a {
  color: inherit;
  text-decoration: none;
}

@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
}

header .nav-link {
  margin: 0 10px;
}

main {
  flex: 1;
  display: flex;
  flex-direction: column;
}

footer {
  display: flex;
  justify-content: space-evenly;
  padding: 20px;  
  background-color: rgb(74, 75, 75);
  color: white;
}

.header-signature {
  display: flex;
  flex-direction: column;
}

.header-signature > h1 {
  margin: 0px;
}

.featured {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
}

.card {
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
  transition: 0.3s;
  width: 400px;
  min-height: 60px;
}

.card .container {
  padding: 20px;
}

.footer-link {
  padding: 10px 20px;
}
.footer-link:hover {
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.8);
  background-color: rgba(255,255,255,0.8);
  color: rgba(0,0,0,0.8);
}